<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="BotId" value="YOUR_BOT_ID" />
  <add key="MicrosoftAppId" value="YOUR_MICROSOFT_APP_ID" />
  <add key="MicrosoftAppPassword" value="YOUR_MICROSOFT_APP_PASSWORD" />

  <add key="TranslatorTextApiKey" value="YOUR_TRANSLATOR_TEXT_API_KEY" />
  <add key="TextAnalyticsApiKey" value="YOUR_TEXT_ANALYSIS_API_KEY" />
  <add key="QnaMakerApiSubscriptionKey" value="YOUR_QNAMAKER_API_SUBSCRIPTION_KEY" />
  <add key="QnaMakerKnowledgebaseId" value="YOUR_QNAMAKER_KNOWLEDGEBASE_ID" />
  <add key="LuisModelId" value="YOUR_LUIS_MODEL_ID" />
  <add key="LuisSubscriptionKey" value="YOUR_LUIS_SUBSCRIPTION_KEY" />

  <add key="TranslatorLocaleLanguage" value="ro" />
  <add key="GeneralErrorMessage" value="Something went wrong. We are investigating this, but you can continue the conversation!" />
  <add key="PositiveThreshold" value="0.9" />
  <add key="NegativeThreshold" value="0.1" />

  <add key="RootDialog.InitialGreeting" value="Greetings!" />
  <add key="RootDialog.EmailNotification" value="Do you want notifications when I have an answer for your unanswerable questions? Input your email address in case you want." />
  <add key="RootDialog.EmailWasAdded" value="was added in the database." />

  <add key="EmailDialog.PossibleYes" value="ok,roger,affirmative,amen,fine,good,okay,true,yea,yeah,all right,aye,beyond a doubt,by all means,certainly,definitely,even so,exactly,gladly,good enough,granted,indubitably,just so,most assuredly,naturally,of course,positively,precisely,sure thing,surely,undoubtedly,unquestionably,very well,willingly,without fail,yep,yes" />
  <add key="EmailDialog.PossibleNo" value="nope,nop,not,negative,nix,absolutely not,by no means,never,no way,not at all,not by any means" />
  <add key="EmailDialog.YesAnswer" value="Please enter a valid email address." />
  <add key="EmailDialog.NoAnswer" value="You will not receive notifications. You can change this at any time during this conversation." />
  <add key="EmailDialog.WrongEmail" value="The email address is not valid! If you don't want to receive notifications, please respond negatively." />

  <add key="QnADialog.InitialGreeting" value="I can answer all your questions related to the fourth homework assignment for the Object-Oriented-Programming course." />
  <add key="QnADialog.DefaultMessage" value="I do not understand or I do not have an answer. Do you want to submit feedback or a possible answer?" />
  <add key="QnADialog.PossibleFeedback" value="bad,refused,intolerable,not okay,wrong,unacceptable,unsuitable,unsatisfactory,incorrect,not ok,feedback" />
  <add key="QnADialog.ForwardToLuis" value="This may take a while..." />

  <add key="FeedbackDialog.InitialGreeting" value="What is your feedback?" />
  <add key="FeedbackDialog.FeedbackWasAdded" value="Your feedback matters, I thank you!" />
</appSettings>