<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="BotId" value="YourBotId" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
  <add key="TranslatorTextApiKey" value="YourApiKey" />

  <add key="TranslatorLocaleLanguage" value="ro" />

  <add key="RootDialog.InitialGreeting" value="Greetings! I will answer to all of your questions related to the fourth homework assignment for the Object-Oriented-Programming course." />
  <add key="RootDialog.EmailNotification" value="Do you want notifications when I have an answer for your unanswerable questions? Input your email address in case you want." />
</appSettings>